.bee {
    @include rectangle(4rem);
    position: relative;
}

.bee{
    &[data-beerole="princess"] {
        background-image: url('../../img/bees/body1.png'), url('../../img/bees/princess.body2.png'), url('../../img/bees/sprite-princess.outline.png');
        animation: playBee 5s 2s steps(5) infinite;
    }
    &[data-beerole="queen"] {
        background-image: url('../../img/bees/body1.png'), url('../../img/bees/queen.body2.png'), url('../../img/bees/sprite-drone.outline.png');
        animation: playBee 5s 2s steps(5) infinite;
    }
    &[data-beerole="drone"] {
        background-image: url('../../img/bees/body1.png'), url('../../img/bees/drone.body2.png'), url('../../img/bees/sprite-drone.outline.png');
        animation: playBee 5s 3.5s steps(5) infinite;
    }
    @each $bee in $bees{
        $i: index($bees, $bee)-1;
        &[data-beetype=#{$bee}]{
        background-position-x: $i*-40px; 
        }
    }
}

@keyframes playBee {
    10% {
        background-position-y: -200px;
    }
    11% {
        background-position-y: 0px;
    }
}