button {
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 2px solid map-get($button,borderColor);
    background-color: map-get($button,background);
    color: map-get($button,color);
}