button {
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 2px solid #3f9838;
    background-color: #66ab25;
    color: #FFF;
}