$button : (
	background: #969696,
	color: #FFF,
	borderColor: #8a8888
);

$inventory : (
	background: #FFF,
	itemBackground: #DDD,
	itemBorderColor: #696969,
	itemQtyColor: #FFF,
	itemQtyShadowColor: #000
);

$shop: (
	background: #FFF
)